@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
@media (max-width: 460px) {
  #imgcaption {
    font-size: 1.4rem;
  }
}